<section class="employee-section">
  <div class="left-block">
    <div class="search-box">
      <h1>Filter By</h1>
      <app-custom-select [title]="'Technology'" [items]="technologies" [placeholderValue]="'Select technology'"
        (filterEmployee)="getFilteredItems($event)">
      </app-custom-select>
      <app-custom-select [title]="'Skills'" [items]="skills" [placeholderValue]="'Select skills'"
        (filterEmployee)="getFilteredItems($event)">
      </app-custom-select>
      <app-custom-select [title]="'Location'" [items]="locations" [placeholderValue]="'Select location'"
        (filterEmployee)="getFilteredItems($event)">
      </app-custom-select>
    </div>
    <div class="action-btn">
      <a href="javascript:void(0)" (click)="applyFilter()">Apply</a>
    </div>
  </div>
  <div class="middle-block">
    <div class="lobby-block">
      <h3>Employee List</h3>
    </div>
    <div class="lobby-table table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Designation</th>
            <th>Technologies</th>
            <th>Skills</th>
            <th>Location</th>
            <th>Open Relocate</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of filteredEmployees">
            <td></td>
            <td>{{employee.name}}</td>
            <td>{{employee.designation}}</td>
            <td>{{employee.technology}}</td>
            <td>{{employee.skill}}</td>
            <td>{{employee.location}}</td>
            <td>{{employee.relocate}}</td>
            <td><a href="javascript:void(0)" (click)="displayEmployeeDetails(employee)" class="detail-btn">Details</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
