<section class="employee-section">
  <div class="left-block">
    <div class="search-box">
      <label>Search</label>
      <input type="text" class="form-control" [(ngModel)]="searchKeyword" (ngModelChange)="search()" name="search"
        placeholder="Search">
      <i class="fa fa-search"></i>
    </div>
    <div class="create-product">
      <a href="javascript:void(0)" routerLink="/product/new">Filter</a>
    </div>
  </div>
  <div class="middle-block">
    <div class="lobby-block">
      <h3>Employee List</h3>
    </div>
    <div class="lobby-table table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Designation</th>
            <th>Technologies</th>
            <th>Skills</th>
            <th>Location</th>
            <th>Open Relocate</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of allEmployees">
            <td>{{employee.name}}</td>
            <td>{{employee.designation}}</td>
            <td>{{employee.technology}}</td>
            <td>{{employee.skill}}</td>
            <td>{{employee.location}}</td>
            <td>{{employee.relocate}}</td>
            <td><a href="javascript:void(0)" (click)="displayEmployeeDetails(employee)" class="detail-btn">Details</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
